.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  label {
    font-size: 1rem;
    color: var(--text-dim);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    cursor: text;
  }
  input {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: var(--bg);
    color: var(--text-color);
    font-size: 1.2rem;
    box-shadow: inset 0 0 4px var(--text-dim);
    transition: all 0.3s ease-in-out;
    &::placeholder {
      visibility: hidden;
    }
    &:focus {
      outline: none;
      border: 1px solid var(--primary);
      box-shadow: inset 0 0 4px var(--primary);
    }
    &:focus ~ label,
    &:valid ~ label {
      top: 15px;
      left: 10px;
      font-size: 0.8rem;
      color: var(--primary);
    }
  }
  input[type="file"] {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
