.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--primary);
    font-size: 2.2rem;
    font-weight: 700;
    &:hover {
      color: var(--text);
    }
  }
}

.social {
  display: flex;
  padding: 10px 0;
  a {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 4px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: all 0.5s;
    overflow: hidden;
    &:hover {
      transform: translateY(-7px);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      transform: skewX(45deg) translateX(150px);
      transition: 1s;
    }
    &:hover::before {
      transform: skewX(45deg) translateX(-150px);
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  a {
    width: fit-content;
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--text-dim);
    padding: 7px 10px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid var(--border-color);
    font-size: 15px;
    font-weight: 500;
    &:hover {
      color: var(--blue);
      border: 1px solid var(--blue);
    }
  }
}

.bottom {
  text-align: center;
  padding: 15px 0;
}
