.recipes {
  width: 100%;
}
.recipes__grid {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  > div {
    width: 100%;
    max-width: 500px;
  }
}
.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
