.withGoogle {
  width: 100%;
  button {
    width: 100%;
    border: none;
    border-radius: 7px;
    outline: none;
    background: var(--text);
    color: var(--bg);
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #00000031;
    overflow: hidden;
    span {
      display: flex;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-size: 1.1rem;
      text-align: center;
      width: 100%;
    }
    img {
      background: transparent;
      filter: drop-shadow(0px 0px 2px var(--text));
      padding: 5px;
    }
    &:hover {
      background: #004eb4;
      color: #fff;
    }
  }
}
